/*

	Stylesheet for general purpose positional rules.
	Created for CTEC3905 on 19 Jan 2022.
	http://shinkson47.in

*/
.absolute {
	position: absolute;
}

.bottom {
	bottom: 0px;
	position: absolute;
}

.top {
	top: 0px;
	position: absolute;
}

.left {
	left: 0px;
	position: absolute;
}

.right {
	right: 0px;
	position: absolute;
}

.start {
	justify-content: start;
}

.end {
	justify-content: end;
}

.a-start {
	align-items: flex-start;
}

.a-end {
	align-items: flex-end;
}

.spaced {
	justify-content: space-between;
}

.scrollable {
	overflow: scroll;
}

.half-width {
	width: 50%;
}

.half-height {
	height: 50%;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

/*
Dumb work around for a problem which could be
solved by the ':has' selector, but only safari supports it...
 */
.gapless {
	gap: 0px !important;
}
/*============================================================
						Rows & Cols
============================================================*/
.column {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.row {
	display: flex;
	align-items: center;
	flex-direction: row;
}
/*============================================================
						Centering
============================================================*/
.center,
.centerfill {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex {
	display: flex;
	align-items: center;
}

.centeredflexbox {
	display: flexbox;
	justify-content: center;
	align-items: center;
}

.fill,
.centerfill,
body,
html {
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}
/*============================================================
					Floating Container
============================================================*/
.floatbox {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30%;
}